{% load static %}
<footer class="text-center text-lg-start bg-dark text-white" style="margin-top: 50px;">
    <section class="container d-flex justify-content-center justify-content-lg-between p-4">
      <div class="me-5 d-none d-lg-block">
        <span>Get connected with us on social networks:</span>
      </div>
      <div>

<a href="#" class="me-4 text-reset">
    <i class="fa-brands fa-instagram"></i>
</a>

<a href="#" class="me-4 text-reset">
    <i class="fa-brands fa-whatsapp"></i>
</a>
      </div>
    </section>
  
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <div class="row mt-3">
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4"><i class="fa fa-cart-plus"></i> SREE SELVI JEWELLERY </h6>
            <p>
             JewelKart is your one-stop destination for elegant gold,
          silver and diamond jewellery. Discover timeless collections
          crafted with perfection and style.
            </p>
          </div>
  
          
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">Useful links</h6>
            <p><a href="{% url 'faq' %}" class="text-reset">FAQ</a></p>
            <p><a href="{% url 'about' %}" class="text-reset">About Us</a></p>
            <p><a href="{% url 'contact' %}" class="text-reset">Contact Us</a></p>
          </div>
          
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <h6 class="text-uppercase fw-bold mb-4"> Contact</h6>
            <p><i class="fa fa-home"></i> Sree Selvi Jewellery </p>
            <p><i class="fa fa-envelope"></i> Sreeselvi@example.com</p>
            <p><i class="fa fa-phone"></i> + 91 9043017689</p>
          </div>
  
        </div>
      </div>
    </section>
    <div class="text-center p-4">
      &copy;  2021 Copyright <a class="text-reset fw-bold" href="https://www.google.com/maps/place/SreeSelvi+Gold+and+Silver+Testing/@10.8217765,78.6969203,17z/data=!4m6!3m5!1s0x3baaf5ec3663da0b:0xc4cd0dd9ea8cc309!8m2!3d10.8205673!4d78.6971295!16s%2Fg%2F11y4481tx5?entry=ttu&g_ep=EgoyMDI2MDIwOS4wIKXMDSoASAFQAw%3D%3D"> SreeSelvi | JewelKart.in</a>
    </div>  
  </footer>