{% extends 'shop/layouts/base.html' %}
{% load static %}

{% block title %}
Login | sreeselvi
{% endblock title %}

{% block content %}

<div class="auth-wrapper">
<div class="auth-card">

<h3 class="text-center text-gold mb-4">Set New Password</h3>

<form method="post">
    {% csrf_token %}
    {{ form.new_password1.label_tag }}
    {{ form.new_password1 }}

    {{ form.new_password2.label_tag }}
    {{ form.new_password2 }}

    <button type="submit" class="btn auth-btn w-100 mt-3">
        Update Password
    </button>
</form>

</div>
</div>

{% endblock content %}